.Comments{
    border: 1px solid rgba(190, 186, 186, 0.363);
    margin-bottom: 40px;
    padding: 30px;
  border-radius: 5px;
}
.PostComment{
   
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    margin-bottom: 20px;
}
.PostComment input{
    outline: none;
    width: 90%;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}
.PostComment button{
    background-color: #DA552F;
    color: white;
    width: 100px;
    padding: 5px;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}