.Content {
}
.Content__postQuestion {
  width: 100%;
}
.Content__postQuestion button {
  width: 100%;
  height: 40px;
  background-color: #da552f;
  color: white;
  border: none;
  font-weight: bolder;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.Content__postQuestion > div {
  border: 1px solid rgba(236, 226, 226, 0.9);
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  grid-column-gap: 0px;
}
.Content__postQuestion > div img {
  border-radius: 50%;
}
.Content__postQuestion > div input {
  width: 100%;
  border: none;
  border: 1px solid rgba(236, 226, 226, 0.9);
  margin-left: 0px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
.Content__postQuestion > div textarea {
  width: 100%;
  border: none;
  border: 1px solid rgba(236, 226, 226, 0.9);
  margin-left: 0px;
  outline: none;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
