.LeftSidebar ul {
  list-style: none;
  padding: 10px;
  margin-right: 20px;
}
.LeftSidebar > p {
  font-size: 12px;
  width: 100%;
  font-weight: bold;

  margin-bottom: -10px;
  margin-left: 10px;
}
.LeftSidebar ul li span {
  margin-right: 10px;
}
.LeftSidebar ul li {
  margin: 10px 0;
  border: 1px solid rgba(219, 216, 216, 0.555);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
