.QuestionCard {
  background-color: white;
  border-bottom: 1px solid rgba(165, 161, 161, 0.4);
  padding: 20px;
  padding-bottom: 0px;
}

.QuestionCard__header {
  display: flex;
  align-items: center;
}
.QuestionCard__header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.QuestionCard__header h4 {
  margin: 0 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.QuestionCard__header p {
  font-size: 12px;
  color: gray;
}

.QuestionCard h3 {
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
  
}
.QuestionCard h3:hover {
  text-decoration: underline;
}

.QuestionCard > p {
  font-size: 14px;
  color: gray;
  line-height: 25px;
}
.QuestionCard__footer {
  display: flex;
  margin: 20px 0;
  font-size: 14px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.QuestionCard__footer p {
  color: #d36242;
  font-size: 12px;
  font-weight: bold;
}
.QuestionCard__footer button {
  background-color: white;
  padding: 5px;
  border: 1px solid rgba(201, 196, 196, 0.5);
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
