.Deals {
  background-color: #16161d;
  min-height: 100vh;
}
.Deals * {
  color: white;
}

/* Deals Banner Section */
.Deals__banner {
  text-align: center;
}
.Deals__bannerEmoji {
  font-size: 50px;
  padding: 15px 0;
  padding-top: 100px;
}
.Deals__bannerHeader {
  padding: 15px;
}
.Deals__bannerHeader h1 {
  font-size: 80px;
  padding-bottom: 10px;
}
.Deals__bannerHeader p {
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 40px;
}

.Deals__bannerJoin {
  padding: 10px;
  margin-bottom: 70px;
  margin-top: 20px;
}

.Deals__bannerJoin button {
  width: 200px;
  padding: 15px 0;
  background-color: #cc4d29;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
.Deals__bannerJoin p {
  color: gray;
}

.Deals__bannerSort {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 10px;

  justify-content: center;
}
.Deals__bannerSort > p {
  font-size: 16px;
}
.Deals__bannerSort__Search {
  background-color: #16161d;
  margin-left: 20px;
  border: 1px solid rgba(172, 167, 167, 0.685);
  padding: 0 10px;
  border-radius: 2px;
}
.Deals__bannerSort__Search i {
  font-size: 16px;
  color: rgba(172, 167, 167, 0.685);
}
.Deals__bannerSort__Search input {
  background-color: #16161d;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  margin: 0 10px;
}
.Deals select,
.Deals option {
  background-color: #16161d;
}

.Deals select {
  height: 40px;
  width: 200px;
  max-width: 200px;
  padding-left: 5px;
  border: 1px solid rgba(172, 167, 167, 0.685);
  outline: none;
  margin: 0 20px;
  border-radius: 2px;
}
