
 

/* ------------------------------------------- MAIN -------------------------------------------------- */
.Product__Parent{
    width: 100%;
    background-color: #F3F3F3; 
    min-height: 100vh;
    position: relative; 
    scroll-behavior: smooth;
}

.Product__Parent *:not(i) { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Product{
     width: 100%;
     padding: 100px 0;
     margin: auto;
     display: flex;
     justify-content: space-between;
     max-width: 1100px;
}



.Product__main{
    width: 66%;
}

.Product__main__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Product__main__head span{
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.Product__main__head span:hover{
  text-decoration: underline;
}


.Product__main__head h2{
    font-size: 20px;
    font-weight: 600;
}




.Product__main__head b{
    font-weight: lighter;
    color: rgb(223, 217, 217);
}


.Product__main__content{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}



.ProductCard{
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    border-bottom: 1px solid #E8E8E8;
    padding: 17px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ProductCard:hover{
    background-color: rgb(248, 248, 248);
}
 
.ProductCard__img{
    width: 11%;
    height: 80px;  
}

.ProductCard__img img{
    width: 100%;
    height: 100%;
}

.ProductCard__content{
    width: 72%;    
}

.ProductCard__content h2{
    font-size : 16px;
    line-height: 24px;
    font-weight: 600;
}


.ProductCard__content h2 > span > i{
    color: grey;
    font-size: 14px;
    display: none;
}

.ProductCard:hover
.ProductCard__content h2 > span > i{
  display: inline;
}


.ProductCard__content p{
    font-size : 13px;
    line-height: 20px;
    font-weight: 400;
    color: #6f6f6f;
}
 

.ProductCard__content i{
    margin-right: 5px;
}

.ProductCard__content__footer{
    margin-top: 14px;
    align-self: baseline;
    display: flex;
    align-items: center;
    font-size: 11px; 
    color: #6f6f6f;
}

 

.ProductCard__content__footer > div:nth-child(1){
    border: 1px solid rgb(179, 174, 174);
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 8px;
    background-color: white;
}

.ProductCard__content__footer > div:nth-child(1):hover{
    background-color: rgb(224, 219, 219);
    transition: 0.2s ease-in all;
    border: 1px solid rgb(224, 219, 219);
}


.ProductCard__upvote{
    border: 1px solid rgb(236, 232, 232);
    width: 10%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
}

.ProductCard__upvote i{
    font-size: 22px;
}

.ProductCard__upvote:hover{
    background-color: rgb(248, 248, 248);
    transition: 0.2s ease-in all;
}


.ProductCard__upvote:active{
    color:  rgb(235, 116, 5);
    border: 1px solid rgb(235, 116, 5);
}

.Product__main__content__more{
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.Product__main__content__more i {
  padding: 5px;
  font-size: 11px;
  color: #CCC8C7;
}

.Product__main__content__more button{
  background-color: white;
  border: none;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}
 
.Product__main__content__more:hover
 button{
  text-decoration: underline;
}



/* ------------------------------------------- SIDECARD -------------------------------------------------- */

.Product__side{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Product__side__awards{
    width: 100%;
    height: 350px;
    background: url(https://ph-static.imgix.net/golden-kitty/2020/hp_desktop_card_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
  
}

.Product__side__highlight{
  margin-bottom: 30px;
 
}

.Product__side__highlight__cards{
  padding: 13px;
  background-color: white;
  border-radius: 5px;
}

.Product__side__highlight h2{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.SideCard{
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
    padding: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.SideCard__img{
    width: 20%;
    height: 60px; 
    border-radius: 5px; 
}

.SideCard__img img{
    width: 100%;
    height: 100%;
    border-radius: 5px; 
}

.SideCard__content{
    width: 75%;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 

.SideCard__content h2{
    font-size : 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.SideCard__content p{
    font-size : 13px;
    line-height: 20px;
    font-weight: 400;
    color: #6f6f6f;
    margin-top: -5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 
.SideCard__content__follow i {
  color: #6f6f6f;
  font-size: 9px;
}

.SideCard__content__follow span{
  font-size: 11px;
  color: #6f6f6f;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.SideCard__content__follow span:hover{
  color: rgb(218, 104, 12);
}

.SideCard__content__follow{
  display: flex;
  align-items: center;
}

.SideCard__content__follow > div{
  margin-right: 5px;
}

.Product__side__highlight__button{
  width: 100%;
  background-color: white;
  text-align: center;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}
 
.Product__side__highlight__button button{
  outline: none;
  width: 85%;
  margin: 20px auto;
  padding: 8px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid rgb(224, 219, 219);
  color:#cc4d29;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  transition: 0.2s all ease-in;
}

.Product__side__highlight__button button:hover{
  border: 1px solid #cc4d29;
}

.Product__side__highlight div:nth-child(2) > div:nth-last-child(1){
  border: none;
}


/* ------------------------------------------- FOOTER -------------------------------------------------- */

.FooterMini ul{
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(224, 219, 219);
  align-items: center;
}

.FooterMini li{
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 12px;
  list-style-type: none;
  color:#6f6f6f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
 

.FooterMini p {
  font-size: 11px;
  color:#6f6f6f;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Product__scroll{
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 40px;
  color:#dad3d3;
  z-index: 1000;
  cursor: pointer;
  transition: 1s all ease-in;
}

 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Product__main{
    width: 90%;
    margin: 0 auto;
  }
  .Product__side{
    display: none;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Product__main{
    width: 90%;
    margin: 0 auto;
  }
  .Product__side{
    display: none;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Product__main{
    width: 90%;
    margin: 0 auto;
  }
  .Product__side{
    display: none;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Product__main{
    width: 90%;
    margin: 0 auto;
  }
  .Product__side{
    display: none;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
  .Product__main{
    width: 66%;
  }
  .Product__side{
    display: inline;
  }
}
 

