.Navbar {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%);
  padding: 4px 0;
}
.Navbar > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.Navbar__GoogleButton {
  width: 300px;
  border: 1px solid red;
}
.Navbar__searchBar {
  border: 1px solid rgba(179, 172, 172, 0.507);
  padding-left: 10px;
  /* border: 1px solid rgba(216, 210, 210, 0.842); */
}
.Navbar__searchBar i {
  color: rgba(179, 172, 172, 0.507);
}
.Navbar__searchBar input {
  width: 250px;
  border: none;
  margin-left: 10px;
  outline: none;
  padding: 8px 0;
}

.Navbar a {
  text-decoration: none;
  text-align: center;
}
.Navbar__logo {
  margin-right: 20px;
}
.Navbar__logo div {
  width: 47px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(218, 85, 47);
}
.Navbar__logo h1 {
  color: white;
  font-size: 30px;
}
.Navbar ul {
  list-style: none;
  margin-left: 20px;
  margin-top: 10px;
}
.Navbar ul i {
  color: rgba(122, 120, 120, 0.836);
}
.Navbar li {
  display: inline-block;
  margin-right: 20px;
}
.Navbar li a {
  color: rgb(111, 111, 111);
  font-size: 20px;
}
.Navbar button:nth-child(1) {
  background-color: white;
  color: black;
  border: 1px solid rgba(179, 172, 172, 0.507);
}

.Navbar button {
  width: 80px;
  padding: 10px;
  background-color: rgb(218, 85, 47);
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 5px;
}

/* Navbar Modal */
.Navbar__modal {
  text-align: center;
  padding: 20px;
  background-color: white;
  width: 60%;
  height: 330px;
  margin: 100px auto;
  outline: none;
  border-radius: 10px;
  border: 20px solid rgba(212, 206, 206, 0.466);
}
.Navbar__modal i {
  margin-right: 10px;
  font-size: 16px;
}

.Navbar___ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ece8e89f;
}

.Navbar__modal h2 {
  margin-top: 25px;
}
.Navbar__modal h2 + p {
  color: gray;
  max-width: 500px;
  margin: 15px auto;
}
.Navbar__modalButtons {
  margin-top: 30px;
  margin-bottom: 40px;
}
.Navbar__modalButtons button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  margin: 0 20px;
  font-size: 12px;
  cursor: pointer;
}
.Navbar__modalButtons + p {
  color: gray;
  font-size: 12px;
}
.Navbar__buttons {
  margin-left: 350px;
}

.Navbar__buttons .Navbar__logoutbtn {
  width: 150px;
  padding: 10px;
  color: white !important;
  border: none;
  outline: none;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(218, 85, 47) !important;
}
.Navbar__buttons button:nth-child(2) {
}
