.Calendar button {
  border-radius: 10px;
  height: 40px;
  width: "fit-content";
  padding: 5px;
  color: #2186eb;
  background-color: #f0f7ff;
  outline: none;
  border: 1px solid blue;
  margin: 5px;
}
.Calendar button :hover {
  cursor: pointer;
}
