* {
  font-family: sans-serif;
}

.mentors_outerbox {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.mentors_h1 {
  width: 80%;
  font-size: 65px;
  color: black;
  font-weight: 300;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.mentors_p {
  width: 83%;
  text-align: center;
  height: fit-content;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
  color: rgb(61, 60, 60);
  margin-bottom: 7%;
}

.datadiv {
  display: flex;
  flex-direction: row;
  height: 90%;
  margin: 5%;
}
.datadiv_2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 16px;
  color: rgb(61, 60, 60);
  text-align: left;
}
.datadiv_2 div,
.datadiv_2 p {
  margin: auto;
  margin-bottom: 5%;
  width: 80%;
}
.title {
  font-size: 30px;
  font-weight: 300;
}
.position {
  font-size: 20px;
  font-weight: 250;
}
.button {
  width: fit-content;
  height: 30px;
  margin-left: 10%;
  font-size: 14px;
  background-color: #cc4d29;
  outline: none;
  color: white;
  border: 1px solid #cc4d29;
  padding: 2%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startbutton {
  color: #cc4d29;
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 2.5%;
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
}
.startbuttondiv {
  margin: 0 auto;
  width: 50%;
}
