.indivItem{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.discussionsBackground{
    background-color: rgb(243,243,243);
}

.discussionsPage{
    /* border: 1px solid gray; */
    margin: auto;
    width: 80%;
}

.indivItem > img{
    width: 3%;
    height: 10%;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.indivItem > .itemNumber{
    /* border: 1px solid black; */
    padding: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
}
.indivItem > .itemNumber > i{
    padding-left: 5px;
}

.indivItem > .itemTitle{
    margin-left: 30px;
    margin-top: 5px;
    border: 0px;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.indivItem > .itemTitle > h3{
    font-weight: 300;
    font-size: 15px;
}

.indivItem > .itemTitle > h5{
    font-weight: 100;
    font-size: 12px;
    color: gray;
}


.discussionsList{
    /* border: 1px solid black; */
    width: 70%;
    margin-right: 20px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding-left: 15px;
}

.discussionsRightBar{
    /* border: 1px solid rgb(255, 196, 0); */
    width: 40%;
    margin-left: 0px;
    margin-top: 20px;
}

.discussionsParent{
    display: flex;
    flex-direction: row;
}

.discussionsRightBar_1{
    /* border: 1px solid saddlebrown; */
    width: 80%;
    padding: 4%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    font-weight: 100;
    color: rgb(94, 91, 91);
    font-size: 14px;
    line-height: 22px;
}
.discussionsRightBar_1 > button{
    background-color: rgb(204,77,41);
    color: aliceblue;
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    outline: none;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.discussionsRightBar_2{
    /* border: 1px solid saddlebrown; */
    width: 80%;
    padding: 4%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    font-weight: 100;
    color: rgb(94, 91, 91);
    font-size: 14px;
}
.discussionsRightBar_2 > form > input{
    margin-right: 10px;
    margin-bottom: 15px;
}

.discussionsRightBar_3{
    /* border: 1px solid saddlebrown; */
    width: 80%;
    padding: 4%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
}
.discussionsRightBar_3 > img{
    border-radius: 50%;
    margin-top: 15px;
}
.discussionsRightBar_3 > h3{
    font-size: 13px;
    color: rgb(37, 36, 36);
}

.itemNum:active{
    color: rgb(204,77,41);
    font-weight: 600;
}
.itemNum:hover{
    cursor: pointer;
}

.discussionsRightBar_4{
    /* border: 1px solid red; */
    width: 80%;
    padding: 4%;
    margin-bottom: 20px;
    border-top: 1px solid rgba(187, 184, 184, 0.637);
    font-size: 12px;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 20px;
}
.discussionsRightBar_4 > p{
    margin-right: 10px;
    cursor: pointer;
}

.discussionsPage_buttonsDIv{
    /* border: 1px solid black; */
    width: 64%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.discussionsPage_buttonsDIv_1 > button{
    outline: none;
    border: 0px;
    margin-right: 20px;
    background-color: rgb(243,243,243);
    cursor: pointer;
}

.discussionsPage_buttonsDIv_2{
    /* border: 1px solid brown; */
    margin-left: 360px;
}
.discussionsPage_buttonsDIv_2 > button{
    outline: none;
    border: 0px;
    margin-right: 20px;
    background-color: rgb(243,243,243);
    cursor: pointer;
}